@charset "utf-8";
/* reset */
html,body,dl,dt,dd,h1,h2,ul,li,p,address {margin: 0; padding: 0;}
body,h1,h2 {font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; font-size: 12px}
li {list-style: none}
img,fieldset {border: 0}
img {vertical-align: top;}
address,em {font-style: normal;}
hr {display: none}
.blind {display: block; position: absolute; left: 0; top: -9999em;}
.skip-nav a {display: block; position: absolute; left:0; top: -9999em; z-index: 9999; width: 100%; background-color: navy; color: #eee; text-align: center; line-height: 2.4em;}
.skip-nav a:focus {top: 0;}

/* style */
#wrap {width: 760px; margin: 0 auto;}
#header	{position: relative; padding-bottom: 150px; background: no-repeat 0 100%;}
.about #header {background-image: url(../img/visual_about.jpg)}
.services #header {background-image: url(../img/visual_services.jpg)}
.portfolio #header {background-image: url(../img/visual_portfolio.jpg)}
.contact #header {background-image: url(../img/visual_contact.jpg)}
#header	.logo {position: absolute; right: 26px; top: 106px;}
.intro #header .logo {position: static;}
#header	.lnb {padding-left: 11px;*zoom: 1;}
#header .lnb:after {content: ''; display: block; clear: both;}
#header	.lnb li {float: left;}
#header	.lnb li a {display: block; height: 50px; background: no-repeat 0 0; text-indent: -9999em;}
#header	.lnb li.mm1 a {width: 71px; background-image: url(../img/m_about.gif)}
#header	.lnb li.mm2 a {width: 84px; background-image: url(../img/m_services.gif)}
#header	.lnb li.mm3 a {width: 95px; background-image: url(../img/m_portfolio.gif)}
#header	.lnb li.mm4 a {width: 106px; background-image: url(../img/m_contact.gif)}
#header	.lnb li a:hover {background-position: 0 -50px;}
#header	.lnb li a.on,
#header	.lnb li a.on:hover {background-position: 0 -100px;}

#container {padding-bottom: 20px; *zoom: 1;}
#container:after{content: '';display: block;clear: both;}
#container #content {float: left; width: 63%; color: #666; line-height: 1.3;}
.intro #container #content {float: none; width: auto; text-align: center;}
#container #content .inner {padding: 25px 25px 0;}
#container #content h1,
#container #content p,
#container #content address {margin-bottom: 12px;}
#container #content address p {margin-bottom: 0}
#container #aside {float: right; width: 37%;color: #666; line-height: 1.3;}
#container #aside .inner {padding: 25px 25px 0 0;}

#footer {border-top: 1px solid #ccc; padding: 25px 25px 35px; color: #999; font-size: .9em; line-height: 1.8; *zoom: 1;}
#footer a {color: #aaa; text-decoration: none;}
#footer a:hover{color: brown;}
#footer:atfer {content: ''; display: block; clear: both;}
#footer .btn_menu {float: right}
#footer .btn_menu dd {display: inline;}
#footer .copy {float: left}
